body {
    font-family: 'Vollkorn', serif;
    background-color: #F3D5BC;
}
header {
background-color: #E4771C;

}
header h1{
  display: inline-block;
  border:1px solid black;
  float:left;
}
header h3 {
  display: inline-block;
  float:right;
  margin-top:34px;
}
nav {
  border:1px solid;
  clear:both;
  display: block;
}
nav ul {
  margin-left: 12%
}
nav li {
  background-color: #387674;
  padding: 4px;
  border: 2px solid #225F59;
  border-radius: 4px;
  display: inline-block;
  margin:-5px 40px 1px 35px
}